streamlit==1.37.0
pandas==2.2.2
requests==2.32.3
python-dotenv==1.0.1

# Backend API
fastapi
uvicorn
python-multipart

# RAG
faiss-cpu
sentence-transformers
deep-translator
openai==1.40.6
httpx==0.27.2
